.support_const_info {
    display: block;
}


.support_const_info h1 {
    text-align: center;
    color: #fff;
    background: #990000;
    margin-top: 0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    font-size: 30px;
}

.support_const_info td {
    font-size: large;
    display: table-cell;
    border-bottom: 1px dotted solid black;
}

.support_const_info input {
    min-width: 500px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.drop-in-table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    width: 100%;
    max-width: 785px;
    margin-bottom: 25px;
}

.phone-table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    width: 100%;
    max-width: 785px;
    margin-bottom: 25px;
}

.support_const_info tbody {
    display: table-row-group;
    vertical-align: middle;
}

.support_email {
    min-width: 100px;
    min-height: 20px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid black;
}

.support_name {
    min-width: 100px;
    min-height: 20px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid black;
    margin-top: 10px;
}

.support_description {
    padding: 3px;
    margin-top: 10px;
    min-height: 120px;
    min-width: 520px;
    overflow: auto;
    overflow-wrap: break-word;
    border: 1px solid gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td::after {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: -webkit-gradient(linear,left top,right top,color-stop(17%,#44464b),color-stop(0,rgba(255,255,255,0)));
    background: linear-gradient(to right,#44464b 17%,rgba(255,255,255,0) 0);
    background-position: top;
    background-size: 6px 1px;
    background-repeat: repeat-x;
}